<header>
    <a href="#/home"><div class="logo"></div></a>
  </header>
<section class="main">
  <div class="mainImage"></div>
  <div class="landingText">
  	<h1>Welcome to WeEats!</h1>
  	<caption>Slack integrated food ordering platform for WebEnertia</caption>
  	<div ng-click="slackAuth()"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></div>
  </div>

</section>


