/* app css stylesheet */
* {
  box-sizing:border-box;
  font-family: 'Lato', sans-serif;
}

header{
  margin: 0 auto;
  padding: 5px 0 0 0; /* top -> clockwise */

  /*width: 80%;*/
  
  background: -webkit-linear-gradient(#4A4A4A, #2B2B2B); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4A4A4A, #2B2B2B); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4A4A4A, #2B2B2B); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4A4A4A, #2B2B2B); /* Standard syntax */;
}

header a:hover {
  text-decoration: none;
}

.logo {
  text-align:center;
  margin: 0;
  background-image:url('images/we_logo_3.png');
  /*background-size: 300px;*/
  height:110px;
  background-repeat: no-repeat;
  width: 45%;
  vertical-align: middle; /* from second practice project*/
  display: inline-block;

}

.headerNav{
  color:#ddd;
  text-align:right;
  /*padding: 10px 0;
  margin:  20px 0 0;*/
  width: 45%;
  vertical-align: middle;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration:none;
  color:#bbb;
}

nav a:hover {
  color:#DBDDDE;
}

.main {
  
  width: 100%;
  
  background-size: cover;
  height: 750px;
  max-height:750px;
  background: 
  linear-gradient(
   rgba(0, 83, 193, 0.8), 
   rgba(0, 83, 193, 0.8)
  ),
  url("images/foodgrid.png") center center no-repeat;

}


.landingText {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 800;
  color:#FFF;
  margin:0;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 30px;

}

.landingText div {
  padding:5%;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.ghost-button:hover,
.ghost-button:active {
  background-color: #fff;
  color: #000;
}

.form-4 {
    /* Size and position */
    width: 300px;
    margin: 0px auto 30px;
    padding: 10px;
    position: relative;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: white;
    text-shadow: 0 2px 1px rgba(0,0,0,0.3);
}

.form-4 h1 {
    font-size: 22px;
    padding-bottom: 20px;
}
.form-4 input[type=text],
.form-4 input[type=password] {
    /* Size and position */
    width: 100%;
    padding: 8px 4px 8px 10px;
    margin-bottom: 15px;

    /* Styles */
    border: 1px solid #4e3043; /* Fallback */
    border: 1px solid rgba(78,48,67, 0.8);
    background: rgba(0,0,0,0.15);
    border-radius: 2px;
    box-shadow: 
        0 1px 0 rgba(255,255,255,0.2), 
        inset 0 1px 1px rgba(0,0,0,0.1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    color: #fff;
    font-size: 13px;
}

.form-4 input[type=submit] {
    /* Size and position */
    width: 100%;
    padding: 8px 5px;
    margin-top:5px;
    /* Styles */
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: 
      inset 0 1px rgba(255,255,255,0.4), 
      0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
}

.form-4 input[type=submit]:hover {
    box-shadow: 
        inset 0 1px rgba(255,255,255,0.2), 
        inset 0 20px 30px rgba(99,64,86,0.5);
}

/* Fallback */
.no-boxshadow .form-4 input[type=submit]:hover {
    background: #594642;
}

#adminAuth {
  color: white;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  font-size: 16px;
  font-weight: bold;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  text-decoration: none;
  -webkit-transition: color .5s ease-out;
}

#adminAuth:hover {
  color:#2b3337;
}


#restaurantInfo .list-inline {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#adminRestaurantForm{
  width: 100%;
}

.menuContainer {
  width: 45%;
  left:5%;
  position: relative;
}

.container, .order {
  display:inline-flex;
  width: 100%;

}

.userList header {
  text-align: center;
  font-weight: bold;
  font-size:16px;
}

.userList {
  text-align: center;
}


#restaurantInfo {
  text-align: center;
}

.flexcontainer {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
}

.mapcontainer {
  -webkit-flex: 2 0 0; 
  flex: 2 0 0;
}

#formanduserlistcontainer {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
   padding:10px;

}
.angular-google-map,
.angular-google-map-container {
  height: 100vh;
  display: block;
}
#pac-input.pac-controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: 'Raleway', 'Lato', Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}





