<header>
 <a href="#/home"><div class="logo"></div></a>
  <nav class="headerNav">
    <ul>
      <li><a href="#/auth" ng-if="!user">Login</a></li>
     	<li><a href="#/home" ng-if="user">Welcome, {{user.username}}!</a></li>
     	<li ng-click="logout()"><a href="#/auth">Logout</a></li>
    </ul>
  </nav>
</header>

<section class="order" ng-if="!user.isAdmin">
	<div class="menuContainer">
		Menu goes here
	</div>

	<div class="orderContainer">
    <form name="orderForm">
		 <div class="form-group">
       <label for="comment">Place your order here:</label>
       <textarea class="form-control" rows="5" id="comment" ng-model="order" placeholder="I'm hungry for..." required></textarea>
     </div>

     <ul class="list-inline" id="restaurantInfo">
       <li>{{restaurantData.phonenumber | tel}}</li>
       <li>{{restaurantData.website}}</li>
     </ul>

     <div class="btn btn-block btn-lg btn-success" ng-disabled="orderForm.$invalid">Submit Order!</div>
   </form>
	</div>

</section>


<section class="container" ng-if="user.isAdmin">
  <div class="formanduserlist">
<form class="form-horizontal" id="adminRestaurantForm" name="adminRestaurantForm">
  <div class="form-group" ng-class="{true: 'error'}[submitted && adminRestaurantForm.restaurantName.$invalid && adminRestaurantForm.menuURL.$invalid && adminRestaurantForm.restaurantURL.$invalid && adminRestaurantForm.restaurantPhone.$invalid]">
    <label for="name" class="col-sm-2 control-label">Restaurant Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Restaurant Name" name="restaurantName" ng-model="restaurantData.name" required/>
      <span class="help-inline" ng-show="submitted && adminRestaurantForm.restaurantName.$error.required">Required</span>
      <span class="help-inline" ng-show="submitted && adminRestaurantForm.restaurantName.$error.text">Invalid Name</span>
    </div>
  </div>
  <div class="form-group">
    <label for="menuURL" class="col-sm-2 control-label">Menu URL</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" id="menuURL" placeholder="Menu URL" name="menuURL" ng-model="restaurantData.menuURL" required/>
      <span class="help-inline" ng-show="submitted && adminRestaurantForm.menuURL.$error.required">Required</span>
      <span class="help-inline" ng-show="submitted && adminRestaurantForm.menuURL.$error.url">Invalid URL</span>
    </div>
  </div>
  <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Restaurant Phone</label>
    <div class="col-sm-10">
      <input type="tel" class="form-control" id="phone" phone-input placeholder="Restaurant Phone" name="restaurantPhone" ng-model="restaurantData.phone" required>
      <!-- <input class="input-phone" type='text'  ng-model="phoneVal"/> -->
      <span class="help-inline" ng-show="submitted && adminRestaurantForm.restaurantPhone.$error.required">Required</span>
      <span class="help-inline" ng-show="submitted && adminRestaurantForm.restaurantPhone.$error.phone">Invalid Phone</span>
    </div>
  </div>
  <div class="form-group">
    <label for="restaurantURL" class="col-sm-2 control-label">Restaurant URL</label>
    <div class="col-sm-10">
      <input type="url" class="form-control" id="restaurantURL" name="restaurantURL" placeholder="Restaurant URL" ng-model="restaurantData.restaurantURL" required/>
      <span class="help-inline" ng-show="submitted && adminRestaurantForm.restaurantURL.$error.required">Required</span>
      <span class="help-inline" ng-show="submitted && adminRestaurantForm.restaurantURL.$error.url">Invalid URL</span>
    </div>
  </div>

  <div class="form-group">

    <label for="orderTime" class="col-sm-2 control-label">Order Time</label>
    <div class="col-sm-10">
      <datetimepicker 
      min-date="minDate" 
      hour-step="hourStep" 
      minute-step="minuteStep" ng-model="orderTime" show-meridian="showMeridian" 
      date-format="{{format}}" date-options="dateOptions"
      date-disabled="disabled(date, mode)" 
      datepicker-append-to-body="false"
      readonly-date="false"
      hidden-time="false"
      hidden-date="false" 
      name="datetimepicker"
      show-spinners="true"
      readonly-time="false"
      date-opened="dateOpened"
      >
      </datetimepicker>
    

    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="save()" ng-disabled="adminRestaurantForm.$invalid">Save</button>
    </div>
  </div>
</form>

<section class="userList">
  <header>Users</header>
  <ul class="list-unstyled">
    <li ng-repeat="user in allUsers">{{user.username}}</li>
    <!-- <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> -->
  </ul>
</section>
</div>

</section>
